aiohttp==3.7.4.post0; python_version >= "3.6" and python_full_version >= "3.8.0"
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.8.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version >= "3.8.0"
chardet==4.0.0; python_version >= "3.6" and python_full_version >= "3.8.0"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.8.0"
multidict==5.2.0; python_version >= "3.6" and python_full_version >= "3.8.0"
nextcord==2.0.0a3; python_full_version >= "3.8.0"
pydantic==1.8.2; python_full_version >= "3.6.1"
typing-extensions==3.10.0.2; python_version >= "3.6" and python_full_version >= "3.8.0"
yarl==1.7.2; python_version >= "3.6" and python_full_version >= "3.8.0"
